@import '../abstract/_variables';
@import '../abstract/_utilities';

.hero{
    padding-inline: 16px;

    .banner-card{
      background-color: var(--image-background);
      color: $white;
      background-image: url("../images/hero-banner-small.jpg");
      background-repeat: no-repeat !important;
      background-size:cover !important;
      background-position: center !important;
      height: 480px;
      display: grid;
      grid-template-columns: 1fr;
      place-content: center;
      text-align: center;
      padding-inline: 20px; //horizontal left and right
      border-radius:var(--radius-8);
    }

    .search-wrapper {
      position: relative;   //Allows inner elements to be absolutely positioned relative to this.
      color: var(--on-background);
      border-radius: var(--radius-4);
      max-width: 480px;
      width: 100%;
      margin-inline: auto;  //Horizontally centers the search bar.
      margin-block: 16px 12px;  //Vertical spacing (top: 16px, bottom: 12px).
      overflow: hidden;

      .leading-icon{
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
      }

      .search-feild{
        height: 56px;
        background-color: var(--primary-container);
        padding-inline: 56px;
        outline: none;
      }

      .search-submit{
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        width: 48px;
        display: grid;
        place-items: center;
        background-color: var(--primary);
        color: var(--white);
        border-radius: var(--radius-4);
        transition: var(--transition-short);
        

         &:hover,
         &:focus-visible {
           background-color: var(--primary-hover);
         }
      }

      }
    }

   
